.shopModal {
    position: absolute;
    z-index: 999;
    width: 55em;
    height: 30em;
    background: url("../../../public/shop.png");
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

.closeButton {
    position: absolute;
    right: 90px;
    padding-top: 35px;
}

.closeButton button {
    height: 30px;
    width: 60px;
    background-color: #a5a564;
    color: white;
    cursor: pointer;
    border-color: #63631e;
    font-weight: 500;
    border-radius: 5px;
}

.closeButton button:hover {
    background-color: #c2c27c;
    border-color: #b1b179;
    font-weight: 600;
}

.titleShop {
    margin-left: 90px;
    margin-top: 75px;
    margin-bottom: 10px;
    font-family: 'Baskerville Old Face';
}

.totalShop {
    display: grid;
    grid-template-columns: 400px 400px;
    padding-left: 120px;
}

.sell {
    height: 270px;
    overflow: auto;
}

.buy {
    height: 270px;
    overflow: auto;
}

.imageTitleProduct {
    display: flex;
    padding-top: 15px;
}

.leftSide {
    width: 250px;
}

.rightSide {
    width: 220px;
}

.leftSide h1, .rightSide h1 {
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
}

.productHeader {
    font-family: 'Baskerville Old Face';
    font-size: 18px;
    margin: 0;
    padding: 0 0 0 10px;
}

.productText {
    font-family: 'Baskerville Old Face';
    font-size: 15px;
    margin: 0;
    padding: 5px 0;
}

.productImage {
    height: 30px;
    width: 30px;
}

.productButton {
    height: 20px;
    width: 140px;
    background-color: #098605;
    border: #093005 2px solid;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.productButton:disabled {
    background-color: #74ac72;
    color: #ddd;
    border-color: #445742;
    cursor: not-allowed;
}

.productButton:not(:disabled):hover {
    background-color: #37b843;
    border: #379943 2px solid;
}


.press {
    text-decoration: underline;
    font-weight: bolder;
}
