body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #171626;
    display: grid;
    place-content: safe center;
    place-items: safe center;
    min-height: 100dvh;
    min-width: 100dvw;
}

#html-root {
    width: 100dvw;
    height: 100dvh;
}